{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_container %}
<h2>{{ customerName }}'s wishlist</h2>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>URL</th>
            <th>price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.translated.name }}</td>

                <td>
                <img src="{{ product.cover.media.url}}" alt="{{ product.translated.name }}" style="max-width: 100px; max-height: 100px;">
                </td>
                <td>
                    <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}">View Product</a>
                </td>
                <td>
                {% if product.price.elements|length > 0 %}
                {% set price = product.price.elements|first %}
                    {% set currencyId = price.currencyId %}
                    {% set currency = currencyId ? context.salesChannel.currency(currencyId) : null %}
                    {% set currencySymbol = currency ? currency.symbol : '' %}
                    <p>{{ currencySymbol }}{{ price.gross }}</p>
                    {% else %}
                    <p>No price available for this product.</p>
                    {% endif %}
                            
                
                </td>
                <td>
                    <form action="{{ path('wishlist_delete', {'productId': product.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this product from your wishlist?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}