{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_ordernumber_container %}
      <meta property="og:title" content="{{ product.translated.name }}">
    <meta property="og:description" content="{{ product.translated.description|striptags|raw  }}">
    <meta property="og:image" content="{{ product.cover.media.url }}">
    <meta property="og:url" content="{{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ product.translated.name }}">
    <meta name="twitter:description" content="{{ page.product.translated.description|striptags|raw  }}">
    <meta name="twitter:image" content="{{ product.cover.media.url }}">



<div id="fb-root"></div>
<scrip async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v19.0" nonce="IEm0uH2z"></script>
{{parent()}}
<!-- Facebook -->
<div class="share-buttons">
    
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?url={{ seoUrl('frontend.detail.page', { productId: page.product.id }) | url_encode }}&text=Check%20out%20this%20awesome%20product">
        
    </a>


    <div class="fb-share-button"  data-href="{{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}" data-layout="button_count" data-size="">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}" class="fb-xfbml-parse-ignore"></a>
    </div>
</div>



{% endblock %}