{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
<h3>Your wishlist</h3>
<a href="http://aj-training.co.uk/my_shop/public/share?shareId={{ user }}" class="btn btn-primary" style="margin-bottom: 5vh">Share wishlist</a>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>URL</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.translated.name }}</td>
                <td>
                <img src="{{ product.cover.media.url}}" alt="{{ product.translated.name }}" style="max-width: 100px; max-height: 100px;">
                </td>
                <td>
                    <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}">View Product</a>
                </td>
                <td>
                    <form action="{{ path('wishlist_delete', {'productId': product.id}) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this product from your wishlist?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </td>
                    
                    <td>
                    <form  class="add-to-cart-form" action="{{ path('frontend.wishlist.to.cart', {'productId': product.id}) }}" method="POST">
                    <input type="hidden">
                    <button  type="submit"  class="btn btn-success" style="margin-bottom: 5vh"  >Add to Basket</button>
                    
                    </form>
                    </td>
                    
                    
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="cart-anchor" data-off-canvas-cart="true"><a></a></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const addToCartForms = document.querySelectorAll('.add-to-cart-form');
    const anchor = document.getElementById('cart-anchor');
    
    addToCartForms.forEach(function(form) {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            
            // Submit the form
            form.submit();

            
            

            setTimeout(delay, 400);

            function delay(){
                if (anchor) {
                    anchor.click();
                }
            }

            
        });
    });
});

</script>
    
{% endblock %}